*~
Thumbs.db
*.generated.cs
_ReSharper.*
*.resharper.user
.svn
*.suo
*.user
*.sln.cache
*.swp
*.pyc
*.image
*.changes
*sources
*.log
Generated
obj
bin
/Build
Specs.html
nppBackup
